.container {
    height:600px; 
    width:1100px; 
    display: flex;
}

.viz {
    height:568px; 
    width: 700px;
    border: 1px solid black;
}

.results_container {
    flex-direction: column; 
    text-align: center;
    display: flex;
    height: 560px; 
    width: 200px;
}

.resbox {
    height:140px; 
    width: 300px;
    display: flex;
    border-width: 1px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10;
}

.img {
    height: 110px;
    width: 110px;
    vertical-align: middle;
    position: absolute;
    transform: translateX(30%);
}

.game_text {
    font-size: 24px;
    font-weight: bold;
}